*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    list-style: none;
    }

.header{
    width: 100%;
    background: coral ;
    color: black;
    height: 80px;
    display: flex ;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}
.header li a{
    display: inline-block;
    justify-content: right;
    padding: 30px;
    font-size: x-large;
    margin-right: 10px ;
    font-weight: 500;
    list-style-type: none;
    color: black;
    transition: -2s;
 }
 .header li a{
    color: black;
 }
.header ul li a :hover{
    color:white;
}