*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    
}
body{
    font-family: 'Times New Roman', Times, serif; 
    background-color: rgb(48, 46, 46);
  }
nav{
        background: coral;
   }
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    height: 100px;
    padding-left:20px 50px ;
    background-color: rgb(250, 145, 106);
    background-color: coral;
    color:black;
    padding: 20px 50px;
    }

.name{
    font-size: 40px;
    padding-bottom: 110px;
    color: black;
    margin-left: 1%;
}
.header ul{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 20px;
}
.header li a{
    /* display: inline-block; */
    padding: 10px;
    color:black;
    text-decoration: none;
    list-style: none;
    font-size: x-large;
    background-color: coral;
    
}
.header li a:hover{
    color:white;
}
.section{
    margin-top: 5%;
    height: 100%;
    width: 100%;
}
.section-container{
    width: 100%;
    height: auto;
    color:white;
    display: grid;
    gap: 20px;
    grid-template-columns: 50% 50%;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 200px;
    gap: 30px;
}
.subtitle1{
    font-size: x-large;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 40%;
}
.title{
    font-size: x-large;
    font-weight: 700;
    margin-top: 1%;
    margin-left: 1%;
}
.title span{
    padding: auto;
    font-style: normal;
    font-weight: 900;
    color: coral;
    font-size: xx-large;
}
.description{
    font-size: x-large;
    font-weight: 500;
    margin-top: 3%;
    margin-left: 25%;
}
.active-buttons{
    display: flex;
    gap: 70px;
}
.hirebutton{
    margin-top: 3%;
    margin-left: 17%;
    padding-right: 20px;
    font-size: large;
    font-weight: 300;
    background-color: coral;
    padding: 1%;  
}
.cvbutton{
    margin-top: 3%;
    margin-left: 3%;
    padding: 1%;
    font-size: large;
    font-weight: 300;
    background-color: coral;  
}
.hirebutton:hover {
    color:white
}
.cvbutton:hover {
    color:white
}
.Image img{
    width: 350px;
    border-radius: 45%;
    margin-top: 50px;
    margin-left: 200px;
}
@media (max-width: 768px) {
  .section-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
}

